name: ci


# ------------------------------------------------------------------------------
on:
  # Run when a pull request is opened or updated.
  pull_request:
  # Add possibility of running manually from webpage.
  workflow_dispatch:
  # Run from main when a pull request is merged.
  push:
    branches:
      - main
  # Run nightly at 20:45 UTC.
  schedule:
  - cron: 45 20 * * *


# ------------------------------------------------------------------------------
# https://www.meziantou.net/how-to-cancel-github-workflows-when-pushing-new-commits-on-a-branch.htm
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

  # Cancel in-progress runs when a new workflow with the same group name is triggered.
  cancel-in-progress: true


# ------------------------------------------------------------------------------
jobs:

  # ------------------------------------------------------------------------------
  # Run all Python-based tests.

  pytest:
    name: Run Python tests
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: pip

    - name: Install Python packages
      run: |
        python3 -m pip install \
          black \
          flake8 \
          GitPython \
          pybadges \
          mypy \
          pylint \
          pytest \
          vunit-hdl

    - name: Clone dependency repos
      run: |
        git clone --depth 1 --single-branch --branch main \
          https://github.com/tsfpga/tsfpga.git ../../tsfpga/tsfpga

    - name: Run tests
      run: |
        python3 -m pytest --verbose



  # ------------------------------------------------------------------------------
  # Build HTML documentation for website.

  build_doc:
    name: Build HTML documentation
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: pip

    - name: Install system packages
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: gir1.2-gtk-3.0 graphviz libgirepository1.0-dev libcairo2-dev pkg-config
        version: 1.0

    # Install symbolator and hdlparse from GitHub forks that are maintained.
    # The official versions do not work with newer setuptools or newer sphinx.
    # The pyHDLParser repo seems to be under active development and the current master did not
    # work, so peg to the latest revision that does work for us.
    - name: Install Python packages
      run: |
        pip install \
          pycairo \
          PyGObject \
          git+https://github.com/hdl/pyHDLParser@354dc73a231677f277709633b9bcd0110f1816d0 \
          git+https://github.com/hdl/symbolator \
          GitPython \
          pybadges \
          rtoml \
          setuptools \
          sphinx \
          sphinx-rtd-theme \
          sphinx_sitemap \
          sphinxcontrib-wavedrom \
          sphinxext-opengraph \
          tomli_w \
          vunit-hdl

    - name: Clone dependency repos
      run: |
        git clone --depth 1 --single-branch --branch main \
          https://github.com/hdl-registers/hdl-registers.git ../../hdl-registers/hdl-registers
        git clone --depth 1 --single-branch --branch main \
          https://github.com/tsfpga/tsfpga.git ../../tsfpga/tsfpga

    - name: Run job
      run: |
        # Without tags, 'build_docs.py' can not find all git tags fo release history.
        # Note that 'fetch-tags: true' on the checkout actions did not work (2023-11-29).
        git fetch --all --tags
        # Sometimes, not always, we get 'Format: "png" not recognized'. The below seems to solve it.
        # https://stackoverflow.com/questions/35688320
        sudo dot -c
        # Build the actual documentation.
        python3 tools/build_docs.py

    - name: Configure Pages
      if: github.ref == 'refs/heads/main'
      uses: actions/configure-pages@v4

    - name: Upload Pages Artifact
      if: github.ref == 'refs/heads/main'
      uses: actions/upload-pages-artifact@v2
      with:
        path: generated/sphinx_html


  # ------------------------------------------------------------------------------
  # Deploy the previously built HTML to GitHub Pages.

  deploy_pages:
    name: Deploy website to pages
    if: github.ref == 'refs/heads/main'
    # Only do deployment if everything else has passed.
    needs: [pytest, build_doc]
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v3


  # ------------------------------------------------------------------------------
  # Simulate the HDL code.

  simulate:
    name: Simulate
    # Run pipeline for scheduled (nightly 'main' branch runs), for pull requests, and
    # when triggered manually on the web.
    # We do NOT run simulate from 'main' after a successful merge, unlike the others, because this
    # one takes so long.
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Python packages
      run: |
        python3 -m pip install \
          GitPython \
          numpy \
          PyYAML \
          rtoml \
          scipy \
          tomli_w \
          vunit-hdl@git+https://github.com/VUnit/vunit.git

    - name: Setup GHDL
      uses: ghdl/setup-ghdl-ci@nightly

    - name: Clone dependency repos
      run: |
        git clone --depth 1 --single-branch --branch main \
          https://github.com/hdl-registers/hdl-registers.git ../../hdl-registers/hdl-registers
        git clone --depth 1 --single-branch --branch main \
          https://github.com/tsfpga/tsfpga.git ../../tsfpga/tsfpga

    - name: Run minimal simulation
      if: github.ref != 'refs/heads/main'
      run: |
        git fetch
        python3 tools/simulate.py --num-threads 2 --vivado-skip --vcs-minimal

    - name: Run full simulation
      if: github.ref == 'refs/heads/main'
      run: |
        python3 tools/simulate.py --num-threads 2 --vivado-skip --minimal
